name: Build SO

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Install NDK
      uses: nttld/setup-ndk@v1
      with:
        ndk-version: r25b

    - name: Configure CMake
      run: |
        cmake -B build -DCMAKE_TOOLCHAIN_FILE=$ANDROID_NDK/toolchains/llvm/prebuilt/linux-x86_64/share/cmake/android-toolchain.cmake -DANDROID_ABI=arm64-v8a -DANDROID_PLATFORM=android-24

    - name: Build mod.so
      run: |
        cmake --build build --config Release

    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: libmod
        path: build/libmod.so
